{% extends 'base.html.twig' %}

{% block title %}Авторизація!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        body {
            background-color: #ffffff;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

        .form-container {
            background-color: #ffffff;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            max-width: 400px;
            width: 100%;
            text-align: center;
        }

        .form-signin label {
            font-weight: bold;
            margin-top: 10px;
            display: block;
            text-align: center; 
            margin-bottom: 8px;
        }

        .form-signin input {
            margin-bottom: 15px;
            border-radius: 5px;
            padding: 10px;
        }

        .form-signin button {
            border-radius: 5px;
            padding: 10px;
            width: 100%; 
        }
    </style>
{% endblock %}

{% block body %}
<div class="form-container">
    <form method="post" class="form-signin">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">Будь ласка, увійдіть</h1>

        <label for="inputEmail" class="d-block mx-auto mb-2">Електронна пошта</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Електронна пошта" autocomplete="email" required autofocus>

        <label for="inputPassword">Пароль</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Пароль" autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button class="btn btn-lg btn-primary" type="submit">
            Увійти
        </button>
    </form>
</div>
{% endblock %}